<div class="container mt-5">
  <div class="row">
    <div class="col-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="title">Tarjeta de crédito</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="title">{{ accion | uppercase }} TARJETA</h5>
          <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text"
                ><i
                  class="fas fa-user"
                  [class.green-icon]="this.form.get('titular')?.valid"
                  [class.red-icon]="
                    this.form.get('titular')?.invalid &&
                    this.form.get('titular')?.touched
                  "
                ></i
              ></span>
              <input
                type="text"
                class="form-control"
                formControlName="titular"
                placeholder="Titular"
              />
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text"
                ><i
                  class="fas fa-credit-card"
                  [class.green-icon]="this.form.get('noTarjeta')?.valid"
                  [class.red-icon]="
                    this.form.get('noTarjeta')?.invalid &&
                    this.form.get('noTarjeta')?.touched
                  "
                ></i
              ></span>
              <input
                type="text"
                class="form-control"
                formControlName="noTarjeta"
                placeholder="N° de Tarjeta"
                maxlength="16"
              />
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text"
                    ><i
                      class="fas fa-calendar-alt"
                      [class.green-icon]="this.form.get('fechaExp')?.valid"
                      [class.red-icon]="
                        this.form.get('fechaExp')?.invalid &&
                        this.form.get('fechaExp')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fechaExp"
                    placeholder="MM/YY"
                    maxlength="5"
                  />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text"
                    ><i
                      class="fas fa-key"
                      [class.green-icon]="this.form.get('cvv')?.valid"
                      [class.red-icon]="
                        this.form.get('cvv')?.invalid &&
                        this.form.get('cvv')?.touched
                      "
                    ></i
                  ></span>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="cvv"
                    placeholder="CVV"
                    maxlength="3"
                  />
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button
                [disabled]="this.form.invalid"
                type="submit"
                class="btn btn-success btn-lg"
              >
                <i class="fas fa-check"></i>
                Aceptar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="title">LISTADO DE TARJETAS</h5>
          <table class="table">
            <tbody>
              <tr *ngFor="let tar of listTarjetas">
                <td>{{ tar.titular }}</td>
                <td>{{ tar.noTarjeta }}</td>
                <td>{{ tar.fechaExp }}</td>
                <td>
                  <i
                    (click)="editarTarjeta(tar)"
                    class="far fa-edit text-info"
                  ></i>
                </td>
                <td>
                  <i
                    (click)="eliminarTarjeta(tar.id)"
                    class="far fa-trash-alt text-danger"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
